<!-- <div class="container">
    <div class="nav">
        <div class="col-md-4">
            <img class="logo" src="/img/logos/logo_trilogy_blk.svg" alt="">
        </div>

        <div class="col-md-4 nav-info offset-md-4 text-right">
            <p>This program is offered through</p>
            <p>sdfasdfasdfasdfas https://asdasfasdfasdfasdf/</p>
            <p>Powered by Trilogy Education Services</p>
            <p>Contact assd Boot Camp at <strong>(xxx) xxx-xxxx</strong></p>
            <span class="py-2">admissions advisor call<strong><span class="blue">(555)
                        123-4567</span></strong></span>
        </div>
    </div>
</div> -->
<div class="navigation" style="background-color: transparent">
    <div class="container">
        <div class="nav">
            <div class="col-md-3 flex-item my-1">
                <img class="logo" src="/img/logos/logo_trilogy_blk.svg" alt="">
            </div>

            <div class="col-md-5 nav-info offset-md-4 text-right flex-item">
                <p>This program is offered through</p>
                <p>sdfasdfasdfasdfas <span class="bold">https://asdasfasdfasdfasdf/</span></p>
                <p>Powered by Trilogy Education Services</p>
                <p>Contact assd Boot Camp at <span class="bold">(xxx) xxx-xxxx</span></p>
                <p class="py-2"><span class="bold">Terms & Conditions</span> | Privacy/Your Privacy Rights</p>
            </div>
        </div>
    </div>
</div>